{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs', {'page': { 'name': 'membercp', 'address': 'users_membercp'}, 'section': {'name': 'Invite Friends', 'address': 'users_membercp_invite'} })) }}
{% endblock %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% if flashmessage is defined %}
            <div class="done" id="show_done">
                <b>Your account is modified</b><br />
                {{ flashmessage }}
            </div>
            <br />
        {% endif %}

        {{ form_start(form) }}
            <input type="hidden" name="action" value="invite" id="action" />

            <div class="tableHeader">
                <div class="row">
                    <div class="cell first">Send Invite</div>
                </div>
            </div>

            <div class="table">

                <div class="row">
                    <div class="cell first"><label for="invite_friend_name">{{ form_label(form.Friend_Name) }}</label></div>
                    <div class="cell second">
                        {{ form_widget(form.Friend_Name, { 'attr': { 'id': 'invite_friend_name', 'class': 's', 'accesskey': 'n' } } ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="invite_friend_email">{{ form_label(form.Friend_Email) }}</label></div>
                    <div class="cell second">
                        {{ form_widget(form.Friend_Email, { 'attr': { 'id': 'invite_friend_email', 'class': 's', 'accesskey': 'e' } } ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="invite_friend_message">{{ form_label(form.Message) }}</label></div>
                    <div class="cell second">
                        {{ form_widget(form.Message, { 'attr': { 'id': 'cat_content_small', 'class': 's', 'accesskey': 'm', 'title': 'Enter a message to include in the email (optional)' } } ) }}
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"></div>
                    <div class="cell second">
                        {{ form_widget(form.save, { 'attr': { 'class': 'submit' } } ) }}
                        {{ form_widget(form.clear, { 'attr': { 'class': 'submit' } } ) }}
                    </div>
                </div>

            </div>

        {{ form_end(form) }}
        <br />
        {% if flashmessage is defined %}{{ dump(flashmessage) }}{% endif %}
        <div class="information">Invite your friends to earn free Upload Amount and/of Bonus Points<br /></div><br />
        <div class="tableHeader" id="inviteListHeader">
            <div class="row">
                <div class="cell first">
                    Invited Friends
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:membercpmenu', {'url': 'membercpinvite'})) }}
{% endblock %}