{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs', {'page': { 'name': 'membercp', 'address': 'users_membercp'}, 'section': {'name': 'Avatar', 'address': 'users_membercp_avatar'} })) }}
{% endblock %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% if flashmessage is defined %}
            <div class="done" id="show_done">
                <b>Your account is modified</b><br />
                {{ flashmessage }}
            </div>
            <br />
        {% endif %}

        {{ form_start(form) }}

            <div class="tableHeader">
                <div class="row">
                    <div class="cell first">
                        Member CP - Avatar
                    </div>
                </div>
            </div>

            <div class="table">

                <div class="row">
                    <div class="cell first">{{ form_label(form.avatar) }}</div>
                    <div class="cell second">
                        {{ form_widget(form.avatar, { 'attr': { 'class': 's' } }) }}
                    </div>
                </div>

                <!--<div class="row">
                    <div class="cell first">Select and Upload a new Custom Avatar</div>
                    <div class="cell second">
                        <input type="file" name="avatar" /> <input type="submit" value="Upload" class="submit" id="avatar_submit" />
                    </div>
                </div>-->

                <div class="row">
                    <div class="cell first"></div>
                    <div class="cell second">
                        {{ form_widget(form.submit, { 'attr': {'class': 'submit'} }) }}
                        {{ form_widget(form.clear, { 'attr': {'class': 'submit'} }) }}
                    </div>
                </div>

            </div>

        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:membercpmenu', {'url': 'membercpavatar'})) }}
{% endblock %}