{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs', {'page': { 'name': 'membercp', 'address': 'users_membercp'}, 'section': {'name': 'Privacy', 'address': 'users_membercp_privacy'} })) }}
{% endblock %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% if flashmessage is defined %}
            <div class="done" id="show_done">
                <b>Your account is modified</b><br />
                {{ flashmessage }}
            </div>
            <br />
        {% endif %}

        {{ form_start(form) }}
            <input type="hidden" name="action" value="privacy" id="action" />

            <div class="tableHeader">
                <div class="row">
                    <div class="cell first">
                        Member CP - Privacy
                    </div>
                </div>
            </div>

            <div class="table">

                <div class="row">
                    <div class="cell first"><label for="ACCOUNT_PRIVACY_LVL">{{ form_label(form.privacy) }}</label></div>
                    <div class="cell second">
                        {% if user.privacy == 'low' %}
                            {{ form_widget(form.privacy.2, {'attr' : { 'checked': 'checked'}} ) }}
                            {{ form_label(form.privacy.2) }}
                        {% else %}
                            {{ form_widget(form.privacy.2) }}
                            {{ form_label(form.privacy.2) }}
                        {% endif %}
                        {% if user.privacy == 'normal' %}
                            {{ form_widget(form.privacy.1, {'attr' : { 'checked': 'checked'}} ) }}
                            {{ form_label(form.privacy.1) }}
                        {% else %}
                            {{ form_widget(form.privacy.1) }}
                            {{ form_label(form.privacy.1) }}
                        {% endif %}
                        {% if user.privacy == 'strong' %}
                            {{ form_widget(form.privacy.0, {'attr' : { 'checked': 'checked'}} ) }}
                            {{ form_label(form.privacy.0) }}
                        {% else %}
                            {{ form_widget(form.privacy.0) }}
                            {{ form_label(form.privacy.0) }}
                        {% endif %}
                        <br />
                        <span class="small"><label for="ACCOUNT_PRIVACY_LVL">ACCOUNT_PRIVACY_LVL_MSG</label></span>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="visible">Show your online status</label></div>
                    <div class="cell second">
                        <input type="checkbox" name="visible" id="visible" accesskey="v" value="1" checked="checked" />
                        <span class="small"><label for="visible">This will allow other people to see what page you are currently viewing.</label></span>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="receive_admin_email">Receive site mailings</label></div>
                    <div class="cell second">
                        <input type="checkbox" name="receive_admin_email" id="receive_admin_email" accesskey="r" value="1" checked="checked" />
                        <span class="small"><label for="receive_admin_email">You will receive a copy of emails sent by the administrator to all members of the site.</label></span>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="ACCEPT_PMS">{{ form_label(form.acceptpms) }}</label></div>
                    <div class="cell second">
                        {{ form_widget(form.acceptpms) }}
                        <span class="small"><label for="ACCEPT_PMS">ACCEPTPM_WHICH_USERS</label></span>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="receive_pm_email">Receive PM mailings</label></div>
                    <div class="cell second">
                        <input type="checkbox" name="receive_pm_email" id="receive_pm_email" accesskey="r" value="1" />
                        <span class="small"><label for="receive_pm_email">Receive Email Notification of New Private Message</label></span>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="show_your_age">Show your age</label></div>
                    <div class="cell second">
                        <input type="checkbox" name="show_your_age" id="show_your_age" accesskey="r" value="1" checked="checked" />
                        <span class="small"><label for="show_your_age">This will allow other people to see how old are you.</label></span>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="cat_content">View your details on your profile page</label></div>
                    <div class="cell second">
                        <select name="allow_view_profile" id="cat_content">
                            <option value="everyone">All Visitors</option>
                            <option value="members" selected="selected">Members Only</option>
                            <option value="followed">People You Follow Only</option>
                            <option value="none">None</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"></div>
                    <div class="cell second">
                        {{ form_widget(form.submit) }}
                        {{ form_widget(form.clear) }}
                    </div>
                </div>

            </div>

        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:membercpmenu', {'url': 'membercpprivacy'})) }}
{% endblock %}