<div class="widget" id="advertisements">
    <h4>
        <img src="{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}" alt="" title="" rel="showAds" id="toggle" class="middle pointer" />
        <span rel="adsTitle">Advertisements</span>
    </h4>

    <div id="showAds" class="">
        {% if advertisements|length != 0 %}

            {% for advertisement in advertisements %}

                <div class="ads" data-adNumber="{{ loop.index }}" style="padding: 5px 10px;{% if not loop.first %}display: none;{% endif %}">
                    <div class="adsTitle hidden">{{ advertisement.title }}</div>
                    <div class="adsContent">
                        <div class="features">
                            {% if advertisement.imagePath %}<img style="float: left; margin-right: 5px;" title="Social Engagement" src="{{ advertisement.imagePath }}" alt="Social Engagement" />{% endif %} {{ advertisement.body }}<br />
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p>No advertisements</p>
        {% endif %}
    </div>
    <br />
</div>