<div class='widget'>
    <h4>
        <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='news' id='toggle' class='middle pointer' /> News
    </h4>
    <div id='news' class=''>

        {% if news|length == 0 %}
            <p>No News</p>
        {% else %}
            {% for new in news %}
                <p>
    			    <span class="clickable" id="news_item" rel="{{ new.id }}">
        			    <span id="news_item_title_1">{{ new.title }}</span>
		    	    </span><br />
                    <span>{{ new.body }}</span><br />
                    <span class="small">Added at {{ new.added|date('d-m-Y') }} by {{ new.user }}</span>
                </p>
            {% endfor %}
        {% endif %}

        <div class='clear'></div>
    </div>
</div>