{% trans_default_domain 'FOSUserBundle' %}
{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs')) }}
{% endblock %}

{% block content %}
    <div class='widget'>
        {% block fos_user_content %}
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:login')) }}
    {{ render(controller('UsersBundle:UsersBlock:donate')) }}
    {{ render(controller('UsersBundle:UsersBlock:stats')) }}
    {{ render(controller('UsersBundle:UsersBlock:membersonline')) }}
    {{ render(controller('UsersBundle:UsersBlock:membersonline24')) }}
{% endblock %}