{% trans_default_domain 'FOSUserBundle' %}
{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs')) }}
{% endblock %}

{% block content %}
<div class='widget'>

    {% if error is defined %}
        <div class="error" id="show_error">
            <b>{{ 'An error has occurred'|trans }}</b><br />
            {{ error|trans }}
        </div>
        <br />
    {% endif %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <p>
        <label for="registerbox_memberemail">{{ form_label(form.email) }}</label><br />
        {{ form_widget(form.email) }}
    </p>

    <p>
        <label for="registerbox_membername">{{ form_label(form.username) }}</label><br />
        {{ form_widget(form.username) }}
    </p>

    <p>
        <label for="registerbox_memberpassword">{{ form_label(form.plainPassword.first) }}</label><br />
        {{ form_widget(form.plainPassword.first) }}
    </p>

    <p>
        <label for="registerbox_memberrepeatpassword">{{ form_label(form.plainPassword.second) }}</label><br />
        {{ form_widget(form.plainPassword.second) }}
    </p>

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:login')) }}
    {{ render(controller('UsersBundle:UsersBlock:donate')) }}
    {{ render(controller('UsersBundle:UsersBlock:stats')) }}
    {{ render(controller('UsersBundle:UsersBlock:membersonline')) }}
    {{ render(controller('UsersBundle:UsersBlock:membersonline24')) }}
{% endblock %}
