{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class='widget'>
        <h4>
	        <span class='floatright'>
                <img src='{{ asset('themes/default/buttons/refresh.png') }}' alt='Refresh' title='Refresh' rel='refreshlogin' class='clickable middle'/>
		    </span>
            <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='login' id='toggle' class='middle pointer' />
            {{ user.username }}
        </h4>

        <div  id="login" style="padding: 10px 5px 10px 0">
            <div class="floatright">
                {% if user.avatar is defined and user.avatar is not null %}
                    <img src="{{ asset('uploads/avatars/' ~ avatar) }}" alt="" title="" class="clickable avatar" id="member_info" memberid="{{ user.id }}" width="96px"/>
                {% else %}
                    {% if user.gender == 'Female' %}
                        <img src="{{ asset('themes/default/avatars/avatar_f_m.png') }}" alt="" title="" class="clickable avatar" id="member_info" memberid="{{ user.id }}" width="96px"/>
                    {% elseif user.gender == 'Male' %}
                        <img src="{{ asset('themes/default/avatars/avatar_m_m.png') }}" alt="" title="" class="clickable avatar" id="member_info" memberid="{{ user.id }}" width="96px"/>
                    {% else %}
                        <img src="{{ asset('themes/default/avatars/avatar_m.png') }}" alt="" title="" class="clickable avatar" id="member_info" memberid="{{ user.id }}" width="96px"/>
                    {% endif %}
                {% endif %}
                <p style="text-align: center"><img src="{{ asset('images/moods/' ~ user.moods ~ '.gif') }}" alt='{{ user.moods }}' title='{{ user.moods }}' style="margin-top: -100px"/></p>
                [<span id="history_link" class="clickable">History</span>]<br />
                [<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>]
            </div>
            <div class="floatleft">
                <div id="ul_dl_stats" class="small">
                    <b>Uploaded:</b> {{ user.uploaded }}Gio <br />
                    <b>Downloaded:</b> {{ user.downloaded }}Gio<br />
                    <b>Buffer:</b> 0<br />
                    {% if user.downloaded != 0 %}
                        {% set ratio = user.uploaded / user.downloaded %}
                    {% else %}
                        {% set ratio = "---" %}
                    {% endif %}
                    <b>Ratio:</b> <span class="ratioNull">{{ ratio }}</span><br />
                    <b>Max.Slots:</b> 3<br />
                    <b>Points:</b> <a href="#">0</a><br />
                    <b>Total Posts:</b> 0<br />
                    <b>Total Invites:</b> <a href="#">0</a><br />
                    <b>Total Warns:</b> <span id="total_warns" class="clickable">0</span><br />
                    <b>Hit & Run Warns:</b> <span id="hitrun_warns" class="clickable">0</span><br />
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% else %}
    {% include "FOSUserBundle:Security:login.html.twig" %}
{% endif %}