{% if app.request.pathInfo == '/_fragment' %}
    <div class='widget'>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h4>
		    <span class='floatright'>
			    <img src='{{ asset('themes/default/buttons/refresh.png') }}' alt='Refresh' title='Refresh' rel='refreshlogin' class='clickable middle'/>
		    </span>
                <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='login' id='toggle' class='middle pointer'/>
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </h4>
        {% else %}
            <h4>
		    <span class='floatright'>
			    <img src='{{ asset('themes/default/buttons/refresh.png') }}' alt='Refresh' title='Refresh' rel='refreshlogin' class='clickable middle'/>
		    </span>
                <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='login' id='toggle' class='middle pointer'/>
                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
            </h4>
        {% endif %}

        <div id='login' class=''>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            {% endif %}

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>

        </div>
        <div class='clear'></div>
    </div>
{% else %}
    {{ render(controller('TorrentsBundle:TorrentsIndex:fullpageLogin')) }}
{% endif %}