{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs', { "page": { "address": "forums_homepage", "name": "Forums"}})) }}
{% endblock %}

{% block content %}
    {% if ForumsCats|length != 0 %}
        {% for ForumsCat in ForumsCats %}
            <table class="forumTable">
                <tbody>
                <tr>
                    <th colspan="3" class="forumTableHeader">
                        <span class="floatright" original-title="">
                            <img src="{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}" alt="" title="" rel="forumList{{ ForumsCat.id }}" id="toggle" class="middle pointer">
                        </span>
                        <a href="?p=forums&amp;pid=502&amp;fid=1" title="">{{ ForumsCat.name }}</a>
                    </th>
                </tr>
                <tr class="forumTableSubHeader">
                    <th class="f_icon"></th>
                    <th class="f_title">Forum</th>
                    <th class="f_last">Last Message</th>
                </tr>
                {% if Forums|length !=0 %}
                    {% for Forum in Forums %}
                        {% if Forum.category.id == ForumsCat.id %}
                            {% set NbTopics = 0 %}
                            {% set NbPosts = 0 %}
                            {% if ForumsTopics|length !=0 %}
                                {# Calcul du nombre de sujets dans cette categorie #}
                                {% for ForumsTopic in ForumsTopics %}
                                    {% if ForumsTopic.forumid.id == Forum.id %}
                                        {% set NbTopics = NbTopics +1 %}
                                        {# Calcul du nombre de posts dans ce Sujet #}
                                        {% if ForumsPosts|length !=0 %}
                                            {% for ForumsPost in ForumsPosts %}
                                                {% set NbPosts = NbPosts +1 %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            {% endif %}
                            <tr class="forumList " id="forumList{{ Forum.category.id }}">
                                <td align="center">
                                    <img src="{{ asset('themes/default/forums/Announcement_32x32.png') }}" alt="" original-title="" rel="resized_by_tsue" border="0">
                                </td>
                                <td data-th="Forum">
                                    <span class="floatright" original-title=""><a href="?p=forums&amp;pid=11&amp;action=rss&amp;fid=3" class="rssIcon middle" rel="{{ Forum.id }}" original-title=""></a></span>
                                    <a href="{{ path('forums_show', {"id": Forum.id }) }}" rel="" id="{{ Forum.id }}" original-title="">{{ Forum.name }}</a>
                                    <div class="forum_description">
                                        {{ Forum.decription }}
                                        <div class="forum_stats">
                                            Threads: {{ NbTopics }} Replies: {{ NbPosts }}
                                        </div>
                                    </div>
                                </td>
                                {% if ForumsTopics|length !=0 %}
                                    {% for ForumsTopic in ForumsTopics %}
                                        {% if ForumsPosts|length !=0 and ForumsTopic.forumid.id == Forum.id %}
                                            {% for ForumsPost in ForumsPosts %}
                                                {% if ForumsPost.TopicId.id == ForumsTopic.id and loop.last %}
                                                    <td data-th="Last Message">
                                                        <div class="last_post_info">
                                                            <a href="#" original-title="">{{ ForumsPost.body }}</a>
                                                            <span class="last_post_span" original-title="">
                                                                <span id="member_info" memberid="{{ ForumsPost.userid.id }}" class="clickable" original-title="">{{ ForumsPost.userid.username }}</span>
                                                                - {{ ForumsPost.added|date('d-m-Y') }}
                                                            </span>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        {% elseif NbPosts == 0 and loop.index == 1 %}
                                            <td data-th="Last Message">
                                                <div class="last_post_info">
                                                    <a href="#" original-title="">Pas de Message</a>
                                                    <span class="last_post_span" original-title="">
                                                        <span id="member_info" memberid="1" class="clickable" original-title="">---</span>
                                                        ---
                                                    </span>
                                                </div>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endif %}

                    {% endfor %}
                {% else %}
                    Pas de sujets dans cette categorie.
                {% endif %}
                </tbody>
            </table>
            {# End Forumscat loop #}
        {% endfor %}
    {% else %}
        Pas de categories disponibles.
    {% endif %}
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:login')) }}
    {{ render(controller('UsersBundle:UsersBlock:donate')) }}
    {{ render(controller('UsersBundle:UsersBlock:stats')) }}
    {{ render(controller('UsersBundle:UsersBlock:membersonline')) }}
    {{ render(controller('UsersBundle:UsersBlock:membersonline24')) }}
{% endblock %}
