{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forums list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Sort</th>
                <th>Name</th>
                <th>Decription</th>
                <th>Minclassread</th>
                <th>Minclasswrite</th>
                <th>Guestread</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td><a href="{{ path('forums_show', { 'id': forum.id }) }}">{{ forum.id }}</a></td>
                <td>{{ forum.sort }}</td>
                <td>{{ forum.name }}</td>
                <td>{{ forum.decription }}</td>
                <td>{{ forum.minclassread }}</td>
                <td>{{ forum.minclasswrite }}</td>
                <td>{% if forum.guestRead %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('forums_show', { 'id': forum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('forums_edit', { 'id': forum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('forums_new') }}">Create a new forum</a>
        </li>
    </ul>
{% endblock %}
